.con {position:relative}
.top {position:absolute;top:0;left:0;}

.btn-warning {
    color: orange; 

   } 
   .down_line{
    border-bottom: 3px solid #F8F8FF;
        text-align: -webkit-match-parent;
    }
    .btn-danger {
    color: red; 

   } 
    .btn-success {
    color: green;

   } 
   .margin_20{
   margin: 20px;

   }
        .padd{
           padding: 20px !important;
        }
.bord{
	border: 1px solid black !important;
}